/lab3/nbproject/private/
/lab3/build/
/lab3/dist/
/webjsf/nbproject/private/
/webjsf/dist/
/webjsf/build/
/JSF_LAB/nbproject/private/
/JSF_LAB/dist/
/JSF_LAB/build/
/WebServiceLab/nbproject/private/
/WebServiceLab/dist/
/WebServiceLab/build/
/WebServiceClient/nbproject/private/
/WebServiceClient/build/
/WebServiceClient/dist/
/EJBTest/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/dist/
/JavaApplication3/build/
/EJBTestLibrary/nbproject/private/
/EJBAppE/nbproject/private/
/EJBAppE/build/
/EJBTestLibrary/build/
/EJBTestLibrary/dist/
/EJBClientЕ/nbproject/private/
/EJBClientЕ/build/
/EJBClientЕ/dist/
/EJB_LAB_LIB/nbproject/private/
/EJB_LAB/nbproject/private/
/EJB_LAB/build/
/EJB_LAB/dist/
/EJB_LAB_LIB/build/
/EJB_LAB_LIB/dist/
/EJB_LAB_CLIENT/nbproject/private/
/EJB_LAB_CLIENT/build/
/EJB_LAB_CLIENT/dist/
/SpringLab/nbproject/private/
/SpringLab/build/
/SpringLab/dist/
/WebApplication1/nbproject/private/
/WebApplication1/dist/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/Laba7/nbproject/private/
/Laba7/build/
/Laba7/dist/
/HiberLabVis/nbproject/private/
/HiberLabVis/build/